body{
    background:yellow;
}
.left{
width:50%;

}
.heading{
text-align:center;
background:#66ff99;
font-size:1.25em; 
font-family:"ALGERIAN","ARIAL BLACK";
}
h2{
padding:0.5em;
}
.division{
display:flex;
}
#todo{
margin-right: 20px;
font-size: 20px; 
margin-left:1em;
width:100%;
height:5em;
/* width:50%; */
}
.warning{
border-color:red;
}
.todocheck{
    text-decoration: line-through;
    text-decoration-thickness: 0.1rem;
}
.item{
background:#ff6666;
display:flex;
gap:1em; 
font-size:1.25em; 
padding-left:0.5em;

}
.addbtn{
margin:2em 2em;
color:white;
background:black;
padding:1em 1em; 
}
.delbtn{
margin-top:0.5em;
padding:1em 1em;
margin-bottom:0.5em;
}
.renbtn{
margin-top:0.5em;
padding:1em 1em;
margin-bottom:0.5em;

}
.checkbox{
width: 5em;
height : 2em;
margin-top :1em;

}
textarea{
font-size: 20px; 
margin-left:1em;
width:95%;
height:50%;
}